body {
  color: #b6c2cf;
  min-height: 100vh;
  margin: 0px;
  padding: 0px 10px;
}

.container {
  display: flex;
  justify-content: center;
  width: 100%;
}
.board {
  padding: 10px 20px;
  width: 100%;
  height: auto;
  /* min-height: 10%; */
  background-color: #101204;
  margin: 10px 20px;
  border-radius: 12px;
}
/* .tasksContainer {
  height: 80%;
  max-height: 65%;
  overflow-y: auto;
  scrollbar-width: thin;
} */

.closeButton .addButton:hover {
  background-color: #22272b;
}
.addButton {
  border: 0px;
  cursor: pointer;
  width: 100%;
  border-radius: 8px;
  padding: 10px;
  background-color: transparent;
  text-decoration: none;
  display: flex;
  color: #9fadbc;
}

.todoCard {
  border-radius: 8px;
  padding: 10px;
  margin: 12px 0px;
  display: flex;
  align-self: center;
  cursor: grab;
  transition: all 0.3s ease-in-out;
  background-color: #22272b;
}

.radioBtn {
  align-self: flex-start;
  justify-self: flex-start;
  margin: 3.5px 5px 0 0;
}

.header {
  margin: 0px 0px 10px 0px;
  padding-left: 10px;
}

#actionContainer {
  width: 100%;
  margin: 0px 0px 4px 0px;
}

.task-input {
  border-radius: 8px;
  padding: 10px;
  border: 0px;
  color: #b6c2cf;
  background-color: #22272b;
  display: flex;
  align-self: flex-start;
}

.cancelButton {
  border-radius: 8px;
  padding: 10px;
  background-color: #22272b;
  border: 0px;
  color: #b6c2cf;
}
.cancelButton:hover {
  transform: scale(1.2);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
